.contain {
  padding: 0 20px;
  min-width: calc(100vw - 40px);
  min-height: calc(100vh - 50px - 100px - 70px);
}

.step {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article {
  padding: 0 20px;
}

.step-title {
  margin: 20px 0;
  color: $primary-color-master;
  font-weight: bold;
}

select {
  width: 200px;
  padding: 2px;
}

input[type="number"].size-l {
  width: 200px;
}
