#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.outer {
  flex: 1;
  background: url("../img/bg-index.jpg") right;
  background-size: cover;
}
.contain {
  padding: 0 20px;
  min-width: calc(100vw - 40px);
  height: calc(100vh - 50px - 100px - 70px - 50px);
  overflow: auto;
}

.step {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article {
  padding: 0 20px;
}

.step-title {
  margin: 20px 0;
  color: $primary-color-master;
  font-weight: bold;
}

select {
  width: 200px;
  padding: 2px;
}

input[type="number"].size-l {
  width: 200px;
}

@media print {
  @page {
    size: A3 portrait; /* 紙張大小 */
    margin: 10px 0;

    * {
      -webkit-print-color-adjust: exact !important;
    }

    .noBreak {
      break-inside: avoid;
    }

    .breakPage {
      page-break-before: always;
    }

    .noPrint {
      display: none;
    }
  }
}

.red-icon {
  display: inline-block;
  font-weight: bolder;
  font-size: 13px;
  color: $primary-color-second;
  border: 2px solid $primary-color-second;
  border-radius: 50%;
  margin-left: 2px;
}
